  [[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "X-LC-Id,X-LC-Key,X-LC-Session,Content-Type,X-LC-Timestamp,x-lc-timestamp"
    Access-Control-Allow-Methods = "GET,POST,PUT,DELETE,OPTIONS"
